h1{
	color: red;
}


.ven{
	color: white;
	background :blue;
	font-size: 10px;
	width: 100px;
	margin: 50px
	width: 100px;



}
span{
	color: red;
}
h2{
	padding: 15px;
	color: white;
.
}
.gost p{
	font-size:17px;
	height: 100px;
	width:2000px;
	background:green;
	margin margin-top: 100px;

}
#block{
	background :green;
}



li {
	
	border: 1px solid black;
	
}